<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first pt-5">
      <img src="../../assets/images/application-form.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input [(ngModel)]="user.code" type="text" id="code" class="fadeIn second" name="code" placeholder="Username">
      <input [(ngModel)]="user.password" (keyup.enter)="login()"  type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
      
      
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
        <button class="btn btn-info fadeIn fourth col-10" (click)="login()">Log in</button>
     <!-- <a class="underlineHover" href="#">Forgot Password?</a>-->
    </div>

  </div>
</div>